.results-container {
  margin-top: 2rem;
  padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.bio-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;

  &--placeholder {
    mat-card{
       opacity: .6;
    font-style: italic;
    border: dashed 1px #808080b0;
    box-shadow: none;
    }
  }
}

.result-header-card{
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.bio-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
  }
}

.bio-example{
  color:red;
  font-weight: bold;
  margin-left: 5px;
}

.bio-text {
  font-size: 1.1rem;
  line-height: 1.5;
  flex-grow: 1;
  white-space: pre-line;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.no-results {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  
  p {
    font-size: 1.1rem;
    color: #666;
  }
}

// Estilos específicos para tema escuro
:host-context(.dark-theme) {
  .bio-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    }
  }
  
  .bio-text {
    color: #e0e0e0;
  }
  
  .no-results p {
    color: #bdbdbd;
  }
}

@media (max-width: 768px) {
  .bio-list {
    grid-template-columns: 1fr;
  }
  
  .bio-card {
    margin-bottom: 1rem;
  }
}